
      body {
  background-color:brown;
  text-align: center;
}
      h1 {
        color: burlywood
      }
      h2 {
        color:bisque;
      }
      p {
        color:blanchedalmond
      }
      li { 
        color:bisque
      }

