/*320 - phone */
@media only screen and (max-width: 320px) and (min-width: 250px) {
  body{
    background-color:blueviolet;
    font: 1px;
  }

  h1 {font-size: medium;}
  h2 {font-size: medium;}
  p { font-size: medium;}
  ul{ font-size: medium;}
}
/*768 - tablet*/
@media only screen and (min-width: 600px) and (max-width: 768px) {

  body{
    background-color:burlywood;
    font-size: 40px;
       }

  h1 {font-size: large;}
  h2 {font-size: large;}
  p { font-size: large;}
  ul{ font-size: large;}
}
/*1200 - laptop*/
@media only screen and (min-width: 1000px) and (max-width: 1200px) {
  body{
    background-color:Brown;
    font-size: 30px;
  }
}

/* #nav { */
  /* text-transform: uppercase; */
  /* list-style: none; */
  /* display: flex; */
  /* align-items: left; */
  /* justify-content: space-around; */
/* } */
/* .strong { */
  /* font-weight: 1px; */
/* } */